/* menu.css */
.menu-overlay {
    position: fixed; /* Ensure the menu overlays on top */
    bottom: 0; /* Start at the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: var(--background-color); /* Background color */
    z-index: 999; /* High z-index to sit above other elements */
    transform: translateY(100%); /* Start out of view (below the viewport) */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.menu-overlay.show {
    transform: translateY(0); /* Move into view */
}

.menu {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center the menu items */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height for vertical centering */
}

.menu ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.menu li {
    margin: 20px; /* Space between menu items */
    z-index: 1000; /* Ensure the navbar is above the overlay */
    list-style: none;
    font-family: var(--font-family-header);
}

.menu li a {
    color: var(--maintext-color);
    display: block;
    transition: color 0.3s ease;
    font-size: var(--font-size-h1);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
