/* services.css */

.services-section {
  /* overflow-x: hidden; */
}

.services-boxes {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  /* gap: 20px;  */
}

/* Responsive Styles */
@media (min-width: 1200px) {
  .services-boxes {
    gap: 20px; /* Adjust the gap between service boxes as needed */
  }
}

@media (max-width: 1200px) {
  .services-boxes {
    gap: 30px; /* Adjust the gap between service boxes as needed */
  }
}

@media (max-width: 768px) {
  .services-boxes {
    width: 90%;
    margin: 0 auto;
  }
}
