/* General Section content styles */
  .content-template-inner {
    width: 100%;
    z-index: 4;
  }
  
  .content-template-info {
    flex-grow: 1;
  }
  
  .content-template-paragraphs {
    width: 100%; 
    /* margin-top: 20px;  */
  }
  
  .content-template-paragraphs p {
    /* margin: 0 0 10px;  */
  }
  
  .content-template-btn {
    /* display: flex;
    align-items: center; */
  }
  
  .content-template-btn-bottom {
    margin-top: 20px;
  }

  .justify-center-section {
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .justify-between-section {
      justify-content: space-between;
      align-items: center;
    }
   
   .large-screen-spacing-right {
    margin-right: 80px;
  } 
  }
  
  @media (max-width: 768px) {
    .content-template-inner {
      text-align: center;
    }

    .justify-between-section {
      justify-content: center;
      align-items: center;
    }
  }
  
  