/* testimonial-box.css */
.testimonial-box {
    padding: 0 30px;
    margin: 30px;
  }
  
  .quote {
    font-style: italic;
    margin-bottom: 15px;
    color: var(--maintext-color);
  }
  
  .name {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .position {
    font-style: italic;
    color: var(--maintext-color);
  }