/* list-style-image.css */
.custom-list {
    list-style: none; /* Remove default bullet points */
    padding-left: 0; /* Remove default padding */
  }
  
  .custom-list-item {
    display: flex;
    align-items: center;
    margin-bottom: var(--smaller-padding); /* Adjust spacing between items */
  }
  
  .list-logo {
    margin-right: var(--smaller-padding); /* Space between logo and text */
    display: flex;
    align-items: center;
  }
  