/* project-item2.css */

.project-item {
    position: relative;
    width: 100%;
    /* margin: 30px 0; */
  }
  
  .project-link {
    position: relative;
    display: block;
    overflow: hidden; /* Ensure the image doesn't overflow out of the container */
    transition: all 0.3s ease; /* Smooth transition */
  }

  .project-img {
    border-radius: var(--border-radius);
    min-height: 350px;
  }
  
  .project-link:hover {
    /* Hover effect to scale the background image */
    transform: scale(1.05); /* Slight scaling effect */
  }
  
  .project-content {
    top: 0;
    left: 0;
    width: 100%;
    /* padding: var(--smaller-padding); */
  }
  
  .project-content h6,
  .project-content p {
    margin: 0;
  }
  
  .project-item-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .project-item-onhover {
    display: none; /* Hidden by default */
  }
  
  .project-link:hover .project-item-onhover {
    display: block; /* Show on hover */
  }
  
